@use '../../vars';
@use '../../mixins';

$projectCollapsedWidth: 0;
$projectCollapsedHeight: 0;

$projectExpandedWidth: 340px;
$projectExpandedHeight: 170px;

.Project {
	position: relative;
	text-align: center;
	user-select: none;

	&:after {
		content: ' ';
		display: block;
		position: absolute;
		top: 195px;
		left: 0;
		width: 116%;
		height: 1px;
		border-bottom: vars.$dashed-border;
	}

	&:hover {
		cursor: pointer;
	}

	h2 {
		margin: 25px 0 20px;
		color: #ecdfce;
		font-family: "Kanit", Helvetica, sans-serif;
		font-size: 2.4rem;
		font-weight: 200;
		transition: color .3s ease;
	}

	p {
		font-size: 1.6rem;
		font-weight: 300;
	}

	nav {
		display: inline-block;
		position: absolute;
		top: 64px;
		right: 0;
		z-index: 2;
	}

	strong {
		font-weight: normal;
		transition: color .3s ease;
	}
}

.ProjectLast {
	&:after {
		width: 100%;
	}
}

.ProjectPreview,
.ProjectPreviewPulse {
	width: $projectExpandedWidth;
	height: $projectExpandedHeight;

	overflow: hidden;
	transform-origin: 50% 100%;

	border-top-left-radius: $projectExpandedWidth * 2;
	border-top-right-radius: $projectExpandedWidth * 2;

	video {
		position: relative;
		width: 100%;
		height: auto;
		z-index: 1;
	}
}

.ProjectPreviewPulse {
	position: absolute;
	top: 25px;
	z-index: 0;

	border: 1px solid white;
	border-bottom: 0;
}

.ProjectTop {
	position: relative;
	height: 195px;
	padding-top: 25px;
}

.ProjectTopOverflow {
	position: absolute;
	top: 0;
	overflow: hidden;

	width: 100%;
	height: 100%;
}

.ProjectLinks {
	li {
		margin-bottom: 5px;
	}
}

.Circle,
.CirclePulse {
	@include mixins.dot();

	position: absolute;
	z-index: 1;
	top: 187px;
	left: 50%;
	margin-left: -8px;

	width: 16px;
	height: 16px;
}

.Circle {
	transition: background-color .3s ease;
}

.CirclePulse {
	top: auto;
	bottom: -8px;
	margin: 0 0 0 -8px;

	background: none;
	border: 1px solid white;
}

.HoverContainer {
	overflow: hidden;

	&:hover {
		cursor: pointer;
	}
}

.azure {
	h2, strong {
		color: vars.$color-azure;
	}

	.Circle {
		background: vars.$color-azure;
	}
}

.caramel {
	h2, strong {
		color: vars.$color-caramel;
	}

	.Circle {
		background: vars.$color-caramel;
	}
}

.crimson {
	h2, strong {
		color: vars.$color-crimson;
	}

	.Circle {
		background: vars.$color-crimson;
	}
}
