@use '../../vars';

.Headline {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
}

.HeadlineTitle {
	margin: 0 0 0 13%;
	font-size: 13.6rem;
	letter-spacing: -8px;
	line-height: .75;
}

.HeadlineSubtitle {
	position: relative;
	display: inline-block;
	padding: 8px 10px;
	margin: 10px 0 0 28.8%;

	letter-spacing: -2px;
	border: vars.$dashed-border;
	font-size: 4.6rem;
	line-height: 1;

	&:before,
	&:after {
		content: ' ';

		display: block;
		position: absolute;
		top: 50%;
		left: -47%;
		width: 47%;
		height: 0;
		border-top: vars.$dashed-border;
	}

	&:after {
		left: auto;
		width: 17%;
		right: -17%;
	}

	strong {
		color: #ecdfce;
	}
}