.Headline {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
}

.HeadlineTitle {
	margin: 0 0 0 150px;
	font-size: 136px;
	letter-spacing: -8px;
	line-height: .75;
}

.HeadlineSubtitle {
	position: relative;
	display: inline-block;
	padding: 8px 10px;
	margin: 10px 0 0 330px;

	letter-spacing: -2px;
	border: 1px dashed rgba(255,255,255,0.4);
	font-size: 46px;
	line-height: 1;

	&:before,
	&:after {
		content: ' ';

		display: block;
		position: absolute;
		top: 50%;
		left: -331px;
		width: 330px;
		height: 0;
		border-top: 1px dashed rgba(255,255,255,0.4);
	}

	&:after {
		left: auto;
		width: 120px;
		right: -120px;
	}
}