@use '../components/Headline/Headline.module';

.HeadlineTitle {
	margin: -30px 0 0;
	font-size: 10.2rem;

	color: #ecdfce;
}

.HeadlineSubtitle {
	margin: 10px 0 0 15.5%;

	&:before {
		left: -28.8%;
		width: 28.8%;
	}

	&:after {
		width: 62.5%;
		right: -62.5%;
	}
}
