.mainWrapper {
	display: flex;
	width: 100%;
	height: 100%;

	justify-content: center;
	background: #081726 url('/images/bg.webp') 50% 0 no-repeat;
}

.contentWrapper {
	width: 100%;
	max-width: 1197px;
	min-height: 750px;

	padding: 30px 20px;
}
