.Modal {
	display: flex;
	position: absolute;
	top: 0;
	left: 50%;

	transform: translate(-50%, 0);
	z-index: 3;

	width: 65%;
	height: 100%;

	align-items: center;

	video {
		width: 100%;
		height: auto;

		background: url('/images/puff.svg') 50% 50% no-repeat;
		background-size: 25%;
	}
}

.ModalBackdrop {
	position: absolute;

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;

	background: black;
	opacity: 0.8;
	z-index: 2;
}

.ModalWrapper {
	width: 100%;
	border-radius: 2%;
	overflow: hidden;
}