.Logo {
	font-family: "Kanit", Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.5px;

	a {
		color: white;
		text-decoration: none;
	}

	span {
		padding: 5px 10px;
		background: #ea215a;
	}
}
