.Logo {
	font-family: "Kanit", Helvetica, sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	user-select: none;

	a {
		color: white;
		text-decoration: none;
	}

	span {
		padding: 5px 10px 5px 16px;
		background: #ea215a;
	}
}
