@use '../../vars';

.Nav {
	display: flex;
	font-family: "Kanit", Helvetica, sans-serif;
	font-size: 2.4rem;
	font-weight: 200;
	user-select: none;

	a {
		color: white;
		text-decoration: none;

		&:hover {
			color: vars.$color-highlight;
		}
	}
}

.NavItem {
	display: flex;
	align-items: flex-end;
	margin-left: 50px;
}

.NavItemActive {
	border-top: 5px solid vars.$color-highlight;

	a {
		color: vars.$color-highlight !important;
	}
}
