.Nav {
	display: flex;
	font-family: "Kanit", Helvetica, sans-serif;
	font-size: 2.4rem;
	font-weight: 200;

	a {
		color: white;
		text-decoration: none;

		&:hover {
			color: #ff2160;
		}
	}
}

.NavItem {
	display: flex;
	align-items: flex-end;
	margin-left: 50px;
}

.NavItemActive {
	border-top: 5px solid #ff2160;

	a {
		color: #ff2160 !important;
	}
}
