@import "typefaces";
@import "reset";

html {
	font-size: 10px;
}

html,
body {
	height: 100%;
}

body {
	background: black;
	color: white;
	font-family: "Roboto", Helvetica, sans-serif;
	font-weight: 300;
}

a {
	color: #ea215a;
	&:hover {
		text-decoration: none;
	}
}

#__next {
	display: flex;
	align-items: center;
	min-height: 100%;
}

@media screen and (max-width: 825px) {
	html {
		font-size: 9px;
	}
}

@media screen and (max-width: 745px) {
	html {
		font-size: 8px;
	}
}

@media screen and (max-width: 675px) {
	html {
		font-size: 7px;
	}
}