@import "typefaces";
@import "reset";

html {
	font-size: 10px;
}

html,
body {
	height: 100%;
}

body {
	background: black;
	color: white;
	font-family: Helvetica, sans-serif;
	overflow-x: hidden;
}

a {
	color: #ea215a;
	&:hover {
		text-decoration: none;
	}
}

#__next {
	display: flex;
	align-items: center;
	min-height: 100%;
}
