/* kanit-100 - latin-ext_latin */
@font-face {
	font-family: 'Kanit';
	font-style: normal;
	font-weight: 100;
	src: local(''),
	url('../public/fonts/kanit-v7-latin-ext_latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../public/fonts/kanit-v7-latin-ext_latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kanit-200 - latin-ext_latin */
@font-face {
	font-family: 'Kanit';
	font-style: normal;
	font-weight: 200;
	src: local(''),
	url('../public/fonts/kanit-v7-latin-ext_latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../public/fonts/kanit-v7-latin-ext_latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kanit-regular - latin-ext_latin */
@font-face {
	font-family: 'Kanit';
	font-style: normal;
	font-weight: 400;
	src: local(''),
	url('../public/fonts/kanit-v7-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../public/fonts/kanit-v7-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local(''),
	url('../public/fonts/roboto-v20-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('../public/fonts/roboto-v20-latin-ext_latin-300.woff') format('woff'); /* Modern Browsers */
}
/* roboto-700 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local(''),
	url('../public/fonts/roboto-v20-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../public/fonts/roboto-v20-latin-ext_latin-700.woff') format('woff');
}
