/* kanit-200 - latin */
@font-face {
	font-family: 'Kanit';
	font-style: normal;
	font-weight: 200;
	src: url('/fonts/kanit-v7-latin-200.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('/fonts/kanit-v7-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/kanit-v7-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
	url('/fonts/kanit-v7-latin-200.woff') format('woff'), /* Modern Browsers */
	url('/fonts/kanit-v7-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/fonts/kanit-v7-latin-200.svg#Kanit') format('svg'); /* Legacy iOS */
}
/* kanit-300 - latin */
@font-face {
	font-family: 'Kanit';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/kanit-v7-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('/fonts/kanit-v7-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/kanit-v7-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('/fonts/kanit-v7-latin-300.woff') format('woff'), /* Modern Browsers */
	url('/fonts/kanit-v7-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/fonts/kanit-v7-latin-300.svg#Kanit') format('svg'); /* Legacy iOS */
}
/* kanit-500 - latin */
@font-face {
	font-family: 'Kanit';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/kanit-v7-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('/fonts/kanit-v7-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/kanit-v7-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
	url('/fonts/kanit-v7-latin-500.woff') format('woff'), /* Modern Browsers */
	url('/fonts/kanit-v7-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/fonts/kanit-v7-latin-500.svg#Kanit') format('svg'); /* Legacy iOS */
}